<footer>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/photography">Photography</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/uses">Uses</a></li>
        <li><a href="/bookshelf">Bookshelf</a></li>
        <li><a href="/current">What I'm Doing</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/likes">Likes</a></li>
    </ul>
    <ul>
        <li><span class="copyright">&copy; 2021 Keith Wagner</div></li>
        <li><a href="https://www.github.com/kpwags">GitHub</a></li>
        <li><a href="https://www.twitter.com/kpwags">Twitter</a></li>
        <li><a href="/feed.xml">RSS</a></li>
    </ul>
</footer>
