---
layout: homepage
title: "Keith Wagner"
---

<div class="home">
    {% for post in paginator.posts %}
        <div class="post">
            <div class="content">
                {% if post.cover != nil %}
                    <div class="index-post-cover" style="background-image:url('{{ post.cover }}'); background-position:{{ post.indexpos }}"></div>
                {% endif %}

                <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>

                <div class="text">{{ post.excerpt }}</div>
            </div>
        </div>
    {% endfor %}

    <div class="pagination">
        {% if paginator.previous_page %}
            <div class="newer-link"><a href="{{ paginator.previous_page_path }}" class="previous">Newer Posts</a></div>
        {% endif %}

        {% if paginator.next_page %}
            <div class="older-link"><a href="{{ paginator.next_page_path }}" class="next">Older Posts</a></div>
        {% endif %}
        <div class="clearfix"></div>
    </div>
</div>
