html,
body {
    font: 16px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 20%);
    width: 1280px;
    margin: 0 auto;
    font-size: 100%;
}

p {
    line-height: 1.6;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: hsl(216, 100%, 45%);
}

a:hover {
    text-decoration: underline;
}

h2 {
    color: hsl(216, 100%, 45%);
    font-size: 1.6rem;
    font-weight: normal;
    margin: 10px 0;
    border-bottom: 1px solid hsl(216, 100%, 45%);
    padding: 0 0 6px 0;
}

h3 {
    color: hsl(216, 100%, 45%);
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0;
}

header {
    text-align: center;
    border-bottom: 5px solid hsl(216, 100%, 45%);
    margin-bottom: 10px;
}

header h1 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 8px;
    padding: 0;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    letter-spacing: 5px;
    font-size: 2.75rem;
}

header p {
    letter-spacing: 3px;
    margin: 0;
    padding: 0 0 8px 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 50px;
}

section {
    margin: 0 0 30px 0;
}

ul.list {
    margin: 0 0 0 5px;
    padding: 0;
}

ul.list li {
    list-style-type: none;
    margin: 0 0 5px 0;
}

.accented {
    color: hsl(216, 100%, 45%);
}

.job {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(0, 0%, 47%);
}

.side-project {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid hsl(0, 0%, 47%);
}

.job:last-child,
.side-project:last-child {
    border-bottom: none;
}

.job .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
}

.job .details .right {
    text-align: right;
}

.job ul li {
    margin: 0 0 5px 0;
}

.job .title {
    font-style: italic;
}

.side-project p:last-child {
    margin-bottom: 0;
}
