<div id="sidebar">
    <div class="content">
        <div class="logo"><img src="/assets/images/logo.png" alt="Keith Wagner" /></div>
        <div class="title-text">Keith Wagner</div>
        <div class="twitter-handle">@kpwags</div>
        <div class="about-text">My name is Keith, I’m a 32 year old web and software developer living in the suburbs of Philadelphia, Pennsylvania. <br/><a href="/about">Read More</a></div>
        <div class="what-i-use"><a href="/what-i-use">What I Use</a></div>

        <ul class="social-links">
            <li><a href="https://www.twitter.com/kpwags" target="_blank" rel="noopener"><img src="/assets/images/icons/twitter.jpg" alt="Twitter" /></a></li>
            <li><a href="https://plus.google.com/u/0/+KeithWagner" target="_blank" rel="noopener"><img src="/assets/images/icons/googleplus.jpg" alt="Google+" /></a></li>
            <li><a href="http://instagram.com/kpwags" target="_blank" rel="noopener"><img src="/assets/images/icons/instagram.jpg" alt="Instagram" /></a></li>
        </ul>

        <div class="mobile-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/photography">Photography</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>