/* HEADER */
header.site-header {
    width:100%;
    border-bottom:1px solid #ddd;
    background:$light-background-color;
    font-size:18px;
}

header.site-header .links {
    text-align:center;
    line-height:36px;
}

header.site-header .links ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

header.site-header .links ul li {
    display:inline;
    padding:0 12px;
}

header.site-header .links ul li a {
    color:$text-color;
    text-decoration:none;
}

header.site-header .links ul li a:hover {
    color:$brand-color;
}

/* SIDEBAR */

#sidebar {
    float:left;
    width:23%;
    margin:15px 0 0 15px;
    text-align:center;
}

#sidebar .content {
    padding:20px 0;
    background:$light-background-color;
}

#sidebar .content .title-text {
    margin:15px 0 0 0;
    font-size:28px;
    color:$brand-color;
}

#sidebar .content .twitter-handle {
    color:#777;
    font-size:18px;
    margin-bottom:25px;
}

#sidebar .content .about-text {
    padding:0 35px;
}

#sidebar .content .what-i-use { padding:12px 0 0 0; }


#sidebar .content ul.social-links {
    margin:20px 0 0 0;
    text-align:center;
    padding:20px 0 0 0;
}

#sidebar .content ul.social-links li {
    display:inline;
    padding:0 8px;
}

#sidebar .content ul.social-links li a img {
    width:48px;
}

#sidebar .mobile-menu {
    margin:20px 0 0 0;
    text-align:center;
    border-top:1px solid #ededed;
    padding:20px 0 0 0;
    font-size:16px;
    display:none;
}

#sidebar .mobile-menu ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

#sidebar .mobile-menu ul li {
    display:inline;
    padding:0 12px;
}

#sidebar .mobile-menu ul li a {
    color:$text-color;
    text-decoration:none;
}

#sidebar .mobile-menu ul li a:hover {
    color:$brand-color;
}

/* MAIN AREA */
#main {
    float:right;
    width:73%;
    margin:15px 15px 0 15px;
}

/* IMAGE HEADER */
.image-header {
    background:$light-background-color;
    padding:20px;
    margin-bottom:10px;
}

.image-header .single {
    text-align:center;
}

.image-header .double img.left {
    float:left;
    width:49%;
}

.image-header .double img.right {
    float:right;
    width:49%;
}

.image-header .triple img { display:block; }

.image-header .triple img.left {
    float:left;
    width:32%;
}

.image-header .triple img.center {
    float:left;
    width:32%;
    margin-left:2%;
}

.image-header .triple img.right {
    float:right;
    width:32%;
}

/* CATEGORY BAR */
.category-bar {
    margin:10px 0;
    padding:20px;
    background:$light-background-color;
}

.category-bar ul.main {
    padding:0;
    margin:0;
    text-align:center;
}

.category-bar ul.main li {
    list-style-type:none;
    padding:0 10px;
    display:inline;
}

.mobile-categories {
    display:none;
    text-align:center;
    margin:10px 0;
    padding:10px;
    background:$light-background-color;
}

.mobile-categories a { color:$text-color; }
.mobile-categories a:hover { color:$brand-color; }

.mobile-categories ul {
    display:none;
    margin:10px 0;
}

.mobile-categories ul li {
    list-style-type:none;
    margin:15px 0;
}

.post {
    background:$light-background-color;
    padding:20px;
    margin-bottom:15px;
}
.post h1.post-title {
    color:$brand-color;
    font-size:36px;
    margin:0px;
    padding:0px;
}

.post h2 {
    color:$brand-color;
    font-size:30px;
    margin:0;
    padding:0px;
}

.post .post-meta {
    font-style:italic;
    font-size:14px;
}

.post .text {
    margin:20px 0;
}

.post .text .image {
    margin:20px 0;
    text-align:center;
}

.post .text .image img { max-width:90%; }

.post .share-post {
    margin-top:25px;
}

.post .share-post a {
    padding-left:10px;
    vertical-align:middle;
}

.post .share-post img { vertical-align:middle; }

.post .photography h3 {
    color:$brand-color;
    margin:0 0 20px 0;
    font-size:26px;
}

.post .photography.links {
    text-align:center;
    color:$brand-color-darker;
}

.post .photography .links a {
    padding:0 15px;
}

.post .photography .album .thumbnail {
    float:left;
    width:40%;
}

.post .photography .album .thumbnail img {
    width:100%;
}

.post .photography .album .description {
    float:left;
    width:55%;
    margin-left:2%;
}

.post .photography .album .description h4 {
    font-size:22px;
    font-weight:bold;
    color:$brand-color;
    margin:0;
    padding:0;
}

.post .photography .album .description h4 a {
    color:$brand-color;
    text-decoration:none;
}

.post .photography .album .description h4 a:hover {
    text-decoration:underline;
}
 
.post .photography .album .description .meta {
    font-style:italic;
    font-size:14px;
}

.post .photography .album .description.summary {
    margin:20px 0 0 0
}

.post .photography .separator {
    border-bottom:1px solid #ddd;
    margin:20px 0;
    padding:20px 0 0;
}

.pagination {
    margin:15px 0;
    background:$light-background-color;
    padding:10px 20px;
}

.pagination .newer-link {
    float:left;
    width:40%;
}

.pagination .older-link {
    float:right;
    text-align:right;
    width:40%;
}

.photo {
    background:$light-background-color;
    padding:20px;
    margin-bottom:15px;
    // border:1px solid #eaeaea;
}

.photo h1 {
    margin:0;
    padding:0;
}

.photo .meta {
    font-style:italic;
    font-size:14px;
}

.photo p {
    margin:8px 0 0 0;
    text-align:center;
}

.photo img { width:100%; }

.photo.header p {
    margin:15px 0 0 0;
    text-align:left;
}   

.photo.double .left {
    float:left;
    width:49%;
}

.photo.double .right {
    float:right;
    width:49%;
}

.photo.triple .left {
    float:left;
    width:32%;
}

.photo.triple .center {
    float:left;
    width:32%;
    margin-left:2%;
}

.photo.triple .right {
    float:right;
    width:32%;
}

.photo.multiple {
    padding:0 20px;
}

.photo.multiple .row {
    padding:10px 0;
}

.photo.multiple .row:first-child { padding-top:20px; }
.photo.multiple .row:last-child { padding-bottom:20px; }

.photo.multiple .row.double .left {
            float:left;
            width:49%;
        }

.photo.multiple .row.double .right {
    float:right;
    width:49%;
}

.photo.multiple .row.triple.left {
    float:left;
    width:32%;
}

.photo.multiple .row.triple .center {
    float:left;
    width:32%;
    margin-left:2%;
}

.photo.multiple .row.triple .right {
    float:right;
    width:32%;
}

.contact-list {
    margin:25px 0;
    text-align:center;
}

.contact-list li {
    list-style-type:none;
    display:inline-block;
    margin:15px;
}

.projects .project {
    margin:20px 0;
    background:$light-background-color;
    padding:20px;
}

.projects .project .content {

}

.projects .project .screen {
    float:left;
    width:35%;
    text-align:center;
    border-right:1px solid $background-color;
    padding-right:25px;
}

.projects .project .description {
    float:left;
    width:59%;
    margin-left:25px;
}

.projects .project .description h3 {
    color:$brand-color;
    font-weight:bold;
}

.projects .project-separator {
    margin:35px auto;
    width:450px;
    border-bottom:1px solid #888;
    clear:both;
}

.fitness-progress {
    margin:20px 0;
}

.fitness-section {
    margin:30px 0 12px 0;
}

.fitness-section h3 { margin:8px 0 2px 0; }

.fitness-section ul { margin-left:0; }
.fitness-section ul li { list-style-type:none; }

/* FOOTER */
footer.site-footer {
    border-top:1px solid #efefef;
    width:100%;
    margin-top:50px;
}

footer.site-footer ul {
    text-align:center;
    margin:10px 0;
    list-style-type:none;
}

footer.site-footer ul li {
    display:inline;
    padding:0 15px;
}

footer.site-footer ul li a {
    color:$text-color;
}

footer.site-footer ul li a:hover {
    color:$brand-color;
}

footer.site-footer ul.social-links {
    margin-top:18px;
}

h1 {
    background:$light-background-color;
    padding:10px 20px;
    margin-bottom:10px;
}

h3#comments {
    margin:20px 0 0 0;
}