body {
  background: url('/assets/images/background.png') repeat;
}

#main {
  margin-left: 350px;
}

#main .content {
  padding: 0 200px;
}

h2 {
  color: $brand-color;
}

hr {
  margin: 25px 0;
}

/* ---------------- */
/* ---- FOOTER ---- */
/* ---------------- */

footer {
  display: none;
  width: 100%;
  text-align: center;
}

footer ul.social-links {
  text-align: center;
  margin-bottom: 15px;
}

footer ul.social-links li {
  list-style-type: none;
  padding: 0 15px;
  display: inline-block;
}

footer .copyright {
  font-size: 14px;
  text-align: center;
  font-style: italic;
  color: #bbb;
  margin-bottom: 15px;
}

footer .icon {
  > svg {
    path {
      fill: #444444;
    }
  }
}

footer .icon:hover {
  > svg {
    path {
      fill: #7b7b7b;
    }
  }
}

/* ----------------------- */
/* ---- IMAGE HEADERS ---- */
/* ----------------------- */

.photography-header {
  height: 400px;
}

.photography-header.flower {
  background-image: url('../assets/images/photography_background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 60%;
  color: #fff;
  height: 500px;
}

.photography-header.about {
  background-image: url('../assets/images/about_background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 28%;
  color: #fff;
}

.photography-header.contact {
  background-image: url('../assets/images/contact_background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #fff;
}

.photography-header.projects {
  background-image: url('../assets/images/projects_background.jpg');
  background-repeat: no-repeat;
  background-position: 35% 23%;
  color: #fff;
}

.photography-header.whatiuse {
  background-image: url('../assets/images/whatiuse_background.jpg');
  background-repeat: no-repeat;
  background-position: 65% 45%;
  color: #fff;
}

.photography-header.gymroutine {
  background-image: url('../assets/images/gymroutine_background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 36%;
  color: #fff;
}

.photography-header.current {
  background-image: url('../assets/images/current_background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0%;
  color: #fff;
}

.photography-header.podcasts {
  background-image: url('../assets/images/podcasts-background.jpg');
  background-repeat: no-repeat;
  background-position: 100% 10%;
  color: #fff;
}

/* --------------- */
/* ---- POSTS ---- */
/* --------------- */

.post {
  padding: 20px;
  margin: 15px 0;
  border-bottom: 1px solid #ddd;
}

.post:last-child {
  border-bottom: none;
}

.post .index-post-cover {
  height: 300px;
  margin-bottom: 12px;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-cover {
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
}

.post .post-meta {
  font-style: italic;
  font-size: 14px;
}

.post .text {
  margin: 20px 0;
}

.post .text .image {
  margin: 20px 0;
  text-align: center;
}

.post .text .image img {
  max-width: 90%;
}

.post .text ul {
  margin: 10px 0;
}

.post .text ul li {
  margin: 0 50px 12px;
  padding-left: 8px;
}

.post h1.post-title {
  color: $brand-color;
  font-family: $heading-font-family;
  font-size: 45px;
  margin: 0px;
  padding: 0px;
}

.post h2 {
  color: $brand-color;
  font-family: $heading-font-family;
  font-size: 30px;
  margin: 0 0 10px 0;
  padding: 0px;
}

.post h3 {
  color: $brand-color;
  font-family: $heading-font-family;
  font-size: 24px;
  padding: 0;
  margin: 18px 0 6px;
}

.post h4 {
  color: $text-color;
  font-family: $heading-font-family;
  font-size: 18px;
  padding: 0;
  margin: 16px 0 4px;
  font-weight: bold;
}

.post h4 a {
  text-decoration: underline;
}

.post .share-post {
  margin-top: 25px;
  text-align: center;
}

/* ----------------- */
/* ---- SHARING ---- */
/* ----------------- */

.share-btn {
  display: inline-block;
  color: #ffffff;
  border: none;
  padding: 0.5em;
  width: 4em;
  opacity: 0.9;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  outline: none;
  text-align: center;
}
.share-btn:hover {
  color: #eeeeee;
}
.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}
.share-btn.twitter {
  background: #55acee;
  color: #fff;
}
.share-btn.google-plus {
  background: #dd4b39;
}
.share-btn.facebook {
  background: #3b5998;
}
.share-btn.stumbleupon {
  background: #eb4823;
}
.share-btn.reddit {
  background: #ff5700;
}
.share-btn.linkedin {
  background: #4875b4;
}
.share-btn.email {
  background: #444444;
}

/* -------------------- */
/* ---- PAGINATION ---- */
/* -------------------- */

.pagination {
  margin: 15px 0;
  padding: 10px 20px;
  border-top: 1px solid #efefef;
}

.pagination .newer-link {
  float: left;
  width: 40%;
}

.pagination .older-link {
  float: right;
  text-align: right;
  width: 40%;
}

/* --------------------- */
/* ---- PAGE TWEAKS ---- */
/* --------------------- */

.reading-list ul,
.what-i-use ul,
.current ul,
.podcasts ul,
.gym ul {
  margin-left: 30px;
}

/* ----------------------- */
/* ---- PROJECTS PAGE ---- */
/* ----------------------- */

.projects .project {
  margin: 40px 0;
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
}

.projects .project .screen {
  float: left;
  width: 40%;
}

.projects .project .description {
  float: left;
  width: 55%;
  margin-left: 2%;
}

.projects .project .description h3 {
  margin-top: 0;
}

/* ---------------------- */
/* ---- CONTACT PAGE ---- */
/* ---------------------- */

.contact-list {
  margin: 25px 0;
  text-align: center;
}

.contact-list li {
  list-style-type: none;
  display: inline-block;
  margin: 15px;
}
