body {
    background:url('/assets/images/background.png') repeat;
}

.container {
    width:1280px;
    margin:15px auto;
}

/* HEADER */
header.site-header {
    width:100%;
    line-height:36px;
    padding:0 0 15px 0;
}

header.site-header .site-title {
    float:left;
    width:450px;
    padding-left:15px;
}

header.site-header .site-title .logo {
    float:left;
    width:36px;
    vertical-align:middle;
}

header.site-header .site-title .title {
    float:left;
    margin-left:25px;
    vertical-align:middle;
    font-size:30px;
}

header.site-header .site-title .title  a { color:$text-color; }

header.site-header .site-title .title span {
    font-size:22px;
    color:#bbb;
    padding-left:15px;
}

header.site-header .menu {
    float:right;
    text-align:right;
    padding-right:15px;
    line-height:36px;
}

header.site-header .menu ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

header.site-header .menu ul li {
    display:inline;
    padding:0 12px;
}

header.site-header .menu ul li a {
    color:$text-color;
    text-decoration:none;
    font-size:20px;
}

header.site-header .menu ul li a:hover {
    color:$brand-color;
}

.photography-header {
    height:600px;
}

.photography-header.flower {
    background-image:url('../assets/images/photography_background.jpg');
    background-repeat:no-repeat;
    background-position:50% 60%;
    color:#fff;
}

.photography-header.about {
    background-image:url('../assets/images/about_background.jpg');
    background-repeat:no-repeat;
    background-position:50% 70%;
    color:#fff;
}

.photography-header.contact {
    background-image:url('../assets/images/contact_background.jpg');
    background-repeat:no-repeat;
    background-position:50% 50%;
    color:#fff;
}

.photography-header.projects {
    background-image:url('../assets/images/projects_background.jpg');
    background-repeat:no-repeat;
    background-position:35% 23%;
    color:#fff;
}

.photography-header.home {
    background-image:url('../assets/images/home_background.jpg');
    background-repeat:no-repeat;
    background-position:50% 48%;
    color:#fff;
}

.photography-header.whatiuse {
    background-image:url('../assets/images/whatiuse_background.jpg');
    background-repeat:no-repeat;
    background-position:65% 36%;
    color:#fff;
}

.photography-header.gymroutine {
    background-image:url('../assets/images/gymroutine_background.jpg');
    background-repeat:no-repeat;
    background-position:50% 36%;
    color:#fff;
}

.photography-header.current {
    background-image:url('../assets/images/current_background.jpg');
    background-repeat:no-repeat;
    background-position:50% 0%;
    color:#fff;
}

.photography-header h1 {
    position:absolute;
    bottom:20px;
    left:20%;
    z-index:5;
    font-size:48px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}

/* MAIN AREA */
#main {
    width:1280px;
    margin:15px auto;
}

#photoset-main {
    margin:15px;
}

.page-summary {
    margin-bottom:25px;
}

/* IMAGE HEADER */
.image-header {
    background:$light-background-color;
    padding:20px;
    margin-bottom:10px;
}

.image-header .single {
    text-align:center;
}

.image-header .double img.left {
    float:left;
    width:49%;
}

.image-header .double img.right {
    float:right;
    width:49%;
}

.image-header .triple img { display:block; }

.image-header .triple img.left {
    float:left;
    width:32%;
}

.image-header .triple img.center {
    float:left;
    width:32%;
    margin-left:2%;
}

.image-header .triple img.right {
    float:right;
    width:32%;
}

/* CATEGORY BAR */
.category-bar {
    margin:0 0 20px 0;
    padding:10px;
    border-top:1px solid #efefef;
    border-bottom:1px solid #efefef;
}

.category-bar ul.main {
    padding:0;
    margin:0;
    text-align:center;
}

.category-bar ul.main li {
    list-style-type:none;
    padding:0 10px;
    display:inline;
}

.category-bar ul.main li a { 
    color:$text-color;
    font-size:20px;
}

.category-bar ul.main li a:hover { 
    color:$brand-color;
}

.mobile-categories {
    display:none;
    text-align:center;
    margin:10px 0;
    padding:10px;
    background:$light-background-color;
}

.mobile-categories a { color:$text-color; }
.mobile-categories a:hover { color:$brand-color; }

.mobile-categories ul {
    display:none;
    margin:10px 0;
}

.mobile-categories ul li {
    list-style-type:none;
    margin:15px 0;
}

#sticky-header {
    display:none;
    position:fixed;
    top:0px;
    border-bottom: 1px solid #ccc;
    width:100%;
    background:url('/assets/images/background.png') repeat;
    padding:10px 20px;
}

#sticky-header .title {
    color:$brand-color;
    font-size:20px;
    float:left;
    width:65%;
}

#sticky-header .sharelinks {
    float:right;
    width:30%;
    text-align:right;
    margin-right:30px;
}

.post {
    padding:20px;
    margin-bottom:15px;
}

.index-post {
    border:1px solid #ededed;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(204,204,204,1);
    box-shadow: 3px 3px 5px 0px rgba(204,204,204,1);
}

.post h1.post-title {
    color:$brand-color;
    font-size:45px;
    margin:0px;
    padding:0px;
}

.post h2 {
    color:$brand-color;
    font-size:30px;
    margin:0;
    padding:0px;
}

.post .index-post-cover {
    height:300px;
    margin-bottom:12px;
    background-repeat:no-repeat;
}

.post-cover {
    background-repeat:no-repeat;
    height:500px;
}

.post .post-meta {
    font-style:italic;
    font-size:14px;
}

.post .text {
    margin:20px 0;
}

.post .text .image {
    margin:20px 0;
    text-align:center;
}

.post .text .image img { max-width:90%; }

.post .share-post {
    margin-top:25px;
    text-align:center;
}

ul.album-list {
    list-style-type:none;
    margin:0;
}

ul.album-list li {
    display:block;
    float:left;
    width:400px;
    height:300px;
    margin:10px;
    text-align:center;
    color:#fff;
    position:relative;
    cursor:pointer;
    background-position:50% 50%;
}

ul.album-list li a {
    color:#fff;
    display:block;
    width:100%;
    position:absolute;
    z-index:5;
    bottom:10px;
}

ul.album-list li a div.title {
    font-weight:bold;
    font-size:24px;
}

ul.album-list li a div.dates {
    font-style:italic;
    font-size:16px;
}

.post .photography .separator {
    border-bottom:1px solid #ddd;
    margin:20px 0;
    padding:20px 0 0;
}

.pagination {
    margin:15px 0;
    padding:10px 20px;
    border-top:1px solid #efefef;
}

.pagination .newer-link {
    float:left;
    width:40%;
}

.pagination .older-link {
    float:right;
    text-align:right;
    width:40%;
}

#photoset { padding:0 20px; }

.photo {
    //padding:20px;
    margin-bottom:15px;
    // border:1px solid #eaeaea;
}

.photo h1 {
    margin:0;
    padding:0;
}

.photo .meta {
    font-style:italic;
    font-size:14px;
}

.photo p {
    margin:8px 0 0 0;
    text-align:center;
}

.photo img { width:100%; }

.photo.header p {
    margin:15px 0 0 0;
    text-align:left;
}   

.photo.double .left {
    float:left;
    width:49%;
}

.photo.double .right {
    float:right;
    width:49%;
}

.photo.triple .left {
    float:left;
    width:32%;
}

.photo.triple .center {
    float:left;
    width:32%;
    margin-left:2%;
}

.photo.triple .right {
    float:right;
    width:32%;
}

.photo.multiple {
    padding:0 20px;
}

.photo.multiple .row {
    padding:10px 0;
}

.photo.multiple .row:first-child { padding-top:20px; }
.photo.multiple .row:last-child { padding-bottom:20px; }

.photo.multiple .row.double .left {
            float:left;
            width:49%;
        }

.photo.multiple .row.double .right {
    float:right;
    width:49%;
}

.photo.multiple .row.triple.left {
    float:left;
    width:32%;
}

.photo.multiple .row.triple .center {
    float:left;
    width:32%;
    margin-left:2%;
}

.photo.multiple .row.triple .right {
    float:right;
    width:32%;
}

.contact-list {
    margin:25px 0;
    text-align:center;
}

.contact-list li {
    list-style-type:none;
    display:inline-block;
    margin:15px;
}

.projects .project {
    margin:20px 0;
    padding:20px;
    border-bottom:1px solid #efefef;
}

.projects .project .screen {
    float:left;
    width:35%;
    text-align:center;
    border-right:1px solid $background-color;
    padding-right:25px;
}

.projects .project .description {
    float:left;
    width:59%;
    margin-left:25px;
}

.projects .project .description h3 {
    color:$brand-color;
    font-weight:bold;
}

.projects .project-separator {
    margin:35px auto;
    width:450px;
    border-bottom:1px solid #888;
    clear:both;
}

.fitness-progress {
    margin:20px 0;
}

.fitness-section {
    margin:30px 0 12px 0;
}

.fitness-section h3 { margin:8px 0 2px 0; }

.fitness-section ul { margin-left:0; }
.fitness-section ul li { list-style-type:none; }

/* FOOTER */
footer.site-footer {
    border-top:1px solid #efefef;
    width:100%;
    margin-top:50px;
}

footer.site-footer ul {
    text-align:center;
    margin:10px 0;
    list-style-type:none;
}

footer.site-footer ul li {
    display:inline;
    padding:0 15px;
}

footer.site-footer ul li a {
    color:$text-color;
}

footer.site-footer ul li a:hover {
    color:$brand-color;
}

footer.site-footer ul.social-links {
    margin-top:18px;
}

h1 {
    padding:10px 20px;
    margin-bottom:10px;
}

h1.page-title {
    font-size:50px;
}

h2 {
    color:$brand-color;
    font-size:30px;
    margin:0;
    padding:0px;
}

h3 { 
    color:$brand-color;
    margin:0 0 20px 0;
    font-size:26px;
}

h3#comments {
    margin:20px 0 0 0;
}

.title-case { text-transform:capitalize; }
.bolded { font-weight:bold; }

/* SHARE */
.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 4em;
    opacity: 0.9;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}
.share-btn:hover {
  color: #eeeeee;
}
.share-btn:active {
  position: relative;
  top: 2px;
  box-shadow: none;
  color: #e2e2e2;
  outline: none;
}
.share-btn.twitter { background: #55acee; color:#fff; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook { background: #3B5998; }
.share-btn.stumbleupon { background: #EB4823; }
.share-btn.reddit { background: #ff5700; }
.share-btn.linkedin    { background: #4875B4; }
.share-btn.email { background: #444444; }