@media all and (max-width: 768px) {
    #main {
        margin-left:0;
    }

    #main .content {
        padding:20px;
    }

    footer { display:block; }

    /* ----------------- */
    /* ---- SIDEBAR ---- */
    /* ----------------- */
    
    #sidebar {
        width:100%;
        position:relative;
        top:0;
        left:0;
        height:auto;
    }

    #sidebar .logo-area {
        width:400px;
        margin:0 auto 25px auto;
    }

    #sidebar .logo {
        margin:0;
        float:left;
        width:80px;
    }

    #sidebar .logo img {
        width:64px;
    }

    #sidebar .title-text {
        font-size:40px;
        color:$sidebar-blue;
        text-align:center;
        margin-bottom:0;
        margin-left:15px;
        float:left;
        text-align:right;
    }

    #sidebar ul.social-links,
    #sidebar .copyright {
        display:none;
    }

    /* --------------------- */
    /* ---- PHOTOGRAPHY ---- */
    /* --------------------- */

    ul.album-list li {
        width:340px;
        height:200px;
        margin:12px;
    }
}
