@media all and (max-width: 769px) {
    .container, .container.small { width:100%; }

    .index-post {
        width:100%;
        float:none;
        margin:0 0 15px 0;
    }

    header.site-header .site-title {
        width:335px;
    }

    header.site-header .site-title .title {
        margin-left:15px;
        font-size:28px;
    }

    header.site-header .site-title .title span {
        font-size:20px;
    }

    header.site-header .menu ul li {
        padding:0 8px;
    }
    
    header.site-header .menu ul li.desktop-only { display:none; }

    .photography-header.flower {
        background-position:54% 60%;
    }

    .photography-header.about {
        background-position:23% 66%;
    }

    .photography-header.contact {
        background-position:61% 50%;
    }

    .photography-header.projects {
        background-position:50% 10%;
    }

    .photography-header.home {
        background-position:50% 48%;
    }

    .photography-header.gymroutine {
        background-position:50% 36%;
    }

    .projects .project {
        margin:20px 0;
    }

    .projects .project .screen {
        float:none;
        width:100%;
        margin-bottom:15px;
    }

    .projects .project .description {
        float:none;
        width:100%;
        margin-left:0px;
    }

    .projects .project-separator {
        margin:20px auto;
        width:200px;
        clear:both;
    }

    blockquote div.source {
        margin-right:0px;
    }

    .fitness-section {
        margin:20px 0 12px 0;
    }

    #sticky-header .sharelinks { display:none; }

    ul.album-list li {
        width:360px;
        height:250px;
    }
}