@media all and (max-width: 1440px) {
    /* --------------------- */
    /* ---- PHOTOGRAPHY ---- */
    /* --------------------- */

    ul.album-list li {
        width:320px;
        height:200px;
    }

    /* ----------------------- */
    /* ---- PROJECTS PAGE ---- */
    /* ----------------------- */

    .projects .project .screen {
        float:none;
        width:100%;
        margin:0 0 25px 0;
        text-align:center;
    }

    .projects .project .description {
        float:none;
        width:100%;
        margin:0;
    }
}