body,
body.light-mode {
    background-image: url('/assets/images/background.png');
    background-repeat: repeat;
}

body.dark-mode {
    background-image: none;
}

main {
    padding: 0 150px;
}

header,
body.light-mode header {
    border-bottom: 2px solid $blue-dark;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    margin-bottom: 50px;
}

body.dark-mode header {
    border-bottom-color: $dark-mode-blue-medium;
}

header img.logo {
    width: 40px;
    height: 40px;
}

header span.title {
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0 25px 0 10px;
    color: $blue-medium;
    letter-spacing: 0.08rem;
}

header nav {
    display: inline;
}

header nav a {
    padding: 0 12px;
    font-size: 1.2rem;
    color: $blue-medium;
}

header nav a:hover {
    color: $blue-dark;
}

footer,
body.light-mode footer {
    border-top: 1px solid $blue-dark;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    margin-top: 50px;
    text-align: center;
}

body.dark-mode footer {
    border-top-color: $dark-mode-blue-medium;
}

footer .copyright {
    font-size: 1rem;
    font-style: italic;
    color: $dark-grey;
}

footer ul {
    margin: 0;
}

footer ul li {
    display: inline;
    list-style-type: none;
    padding: 0 15px;
}

footer ul li.link-start {
    padding-left: 60px;
}

footer ul li.link-end {
    padding-right: 60px;
}

footer ul li#toggledarkmode {
    position: relative;
}

footer button,
body.light-mode footer button {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
    font-size: 1rem;
    line-height: 1;
    background: transparent;
    font-weight: 300;
    color: $blue-medium;
    cursor: pointer;
}

body.dark-mode footer button {
    color: $dark-mode-blue-medium;
}

footer button:hover,
footer button:focus,
body.light-mode footer button:hover,
body.light-mode footer button:focus {
    color: $blue-dark;
}

body.dark-mode footer button:hover,
body.dark-mode footer button:focus {
    color: $dark-mode-blue-dark;
}

footer .mode-switcher {
    display: none;
    position: absolute;
    z-index: 10;
    bottom: 50px;
    left: -90px;
    width: 320px;
}

footer .mode-switcher .content,
body.light-mode .mode-switcher .content {
    background: #dbdbdb;
    border-radius: 6px;
}

body.dark-mode footer .mode-switcher .content {
    background: #434343;
}

footer .mode-switcher .arrow,
body.light-mode footer .mode-switcher .arrow {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid #dbdbdb;
    left: 50%;
    position: absolute;
    margin-left: -30px;
}

body.dark-mode footer .mode-switcher .arrow {
    border-top-color: #434343;
}

footer .mode-switcher ul {
    padding: 10px;
    margin: 0;
}

footer .mode-switcher ul li button {
    padding: 5px 10px;
    border-radius: 6px;
}

footer .mode-switcher ul li.active button,
body.light-mode footer .mode-switcher ul li.active button {
    color: #eee;
    background: $blue-medium;
    padding: 5px 10px;
    border-radius: 6px;
}

footer .mode-switcher ul li button:hover,
footer .mode-switcher ul li button:focus,
body.light-mode footer .mode-switcher ul li button:hover,
body.light-mode footer .mode-switcher ul li button:focus {
    color: #eee;
    background: $blue-medium;
}

body.dark-mode footer .mode-switcher ul li.active button {
    color: #eee;
    background: $dark-mode-blue-medium;
    padding: 5px 10px;
    border-radius: 6px;
}

body.dark-mode .mode-switcher ul li button:hover,
body.dark-mode .mode-switcher ul li button:focus,
body.dark-mode .mode-switcher ul li.active button:hover,
body.dark-mode .mode-switcher ul li.active button:focus {
    color: #eee;
    background: $dark-mode-blue-medium;
}

article {
    margin: 25px 0;
    font-size: 1.25rem;
}

article h1,
body.light-mode article h1 {
    font-weight: bold;
    color: $blue-dark;
    font-size: 2.1rem;
    margin: 0;
    padding: 0;
}

body.dark-mode article h1 {
    color: $dark-mode-blue-medium;
}

article h2 {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}

article.post-page h2,
body.light-mode article.post-page h2 {
    font-size: 1.6rem;
    margin: 24px 0 15px 0;
    color: $blue-medium;
}

body.dark-mode article.post-page h2 {
    color: $dark-mode-blue-medium;
}

article h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 22px 0 18px 0;
}

article h4 {
    font-size: 1.3rem;
    margin: 12px 0;
}

article .meta {
    font-style: italic;
    font-size: 1.05rem;
    margin: 5px 0 0 0;
}

article.post-page .meta {
    margin-bottom: 25px;
}

article .content {
    margin-top: 12px;
}

article .read-more {
    text-align: center;
    margin-top: 12px;
    font-size: 1rem;
}

article .centered-image {
    text-align: center;
    margin: 20px 0;
}

article .centered-image img {
    width: 80%;
}

article ul,
article ol {
    margin: 0 70px 40px 70px;
}

article ul li,
article ol li {
    padding-left: 12px;
}

article hr {
    width: 250px;
    margin: 40px auto;
    border-bottom: 1px solid hsl(0, 0%, 87.1%);
    background-color: transparent;
}

#about-page {
    min-height: 420px;
}

.about-image {
    float: left;
    margin-right: 50px;
}

.projects .project {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    margin: 40px 0;
    padding: 40px 0;
    border-bottom: 1px solid $dark-grey;
}

.projects .project:last-child {
    border-bottom: none;
}

.projects .project .screen {
    grid-column-start: 1;
    grid-column-end: 1;
}

.projects .project .description {
    grid-column-start: 2;
    grid-column-end: 2;
}

.projects .project .description h2 {
    margin-top: 0;
}

.pagination {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px 0;
}

.pagination .previous {
    grid-column-start: 1;
    grid-column-end: 1;
}

.pagination .next {
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: right;
}

.current-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 25px;
    margin: 12px 0 50px;
    justify-items: center;
}

.current-list .book,
.current-list .game,
.current-list .watching,
.current-list .book .image,
.current-list .game .image,
.current-list .watching .image {
    text-align: center;
    margin-bottom: 20px;
}

.current-list .book .image img,
.current-list .game .image img,
.current-list .watching .image img {
    max-height: 300px;
    box-shadow: 0 12px 24px 0 hsla(0, 0%, 0%, 0.2);
}

.current-list .book .info h3,
.current-list .game .info h3,
.current-list .watching .info h3,
body.light-mode .current-list .book .info h3,
body.light-mode .current-list .game .info h3,
body.light-mode .current-list .watching .info h3 {
    font-size: 1.33rem;
    margin: 8px 0;
    color: $blue-medium;
    text-align: center;
}

body.dark-mode .current-list .book .info h3,
body.dark-mode .current-list .game .info h3,
body.dark-mode .current-list .watching .info h3 {
    color: $dark-mode-blue-medium;
}

.current-list .book .info h3 span,
.current-list .game .info h3 span,
.current-list .watching .info h3 span {
    white-space: nowrap;
}

.current-list .book .info em {
    font-size: 1.05rem;
    margin: 8px 0 0 0;
}

.current-list .book .rating img {
    padding: 0 4px;
    margin: 12px 0;
}

.current-list .book .review {
    font-size: 1.05rem;
}

.current-list .book .review button,
body.light-mode .current-list .book .review button {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
    color: $blue-medium;
}

.current-list .book .review button:hover,
body.light-mode .current-list .book .review button:hover {
    color: $blue-dark;
}

body.dark-mode .current-list .book .review button {
    color: $dark-mode-blue-medium;
}

body.dark-mode .current-list .book .review button:hover {
    color: $dark-mode-blue-dark;
}

.current-list .book .review div {
    line-height: 1.5;
    margin: 10px 0;
}

ul.contact-list {
    width: 300px;
    margin: 20px auto;
}

ul.contact-list li {
    list-style-type: none;
    margin: 16px 0;
    line-height: 24px;
}

ul.contact-list li img {
    width: 24px;
    height: 24px;
    padding-right: 10px;
}

.centered {
    text-align: center;
}
.error {
    color: #ff0000;
}

@media all and (max-width: 1024px) {
    .about-image {
        margin: 0 40px 0 0;
    }

    .about-image img {
        width: 300px;
    }
}

@media all and (max-width: 800px) {
    main {
        padding: 0 15px;
    }

    article .centered-image img {
        width: 100%;
    }

    footer ul li.hidden-tablet {
        display: none;
    }

    footer ul li.link-end {
        padding: 0 60px;
    }
}

@media all and (max-width: 600px) {
    header img.logo {
        display: none;
    }

    header span.title {
        font-size: 1.1rem;
        padding: 0 10px 0 0;
    }

    header nav {
        display: inline;
    }

    header nav a {
        padding: 0 10px;
        font-size: 1rem;
    }

    header nav a.hidden-mobile {
        display: none;
    }

    footer ul li.hidden-mobile {
        display: none;
    }

    footer ul li.link-end {
        padding: 0;
    }

    article h1 {
        font-size: 1.8rem;
    }

    article h2 {
        font-size: 1.5rem;
    }

    article .meta {
        font-size: 1rem;
    }

    article.post-page h2 {
        font-size: 1.4rem;
    }

    article h3 {
        font-size: 1.3rem;
    }

    article h4 {
        font-size: 1.2rem;
    }

    article {
        font-size: 1.05rem;
    }

    .about-image {
        float: none;
        margin: 30px 0;
        text-align: center;
    }

    .about-image img {
        width: 250px;
    }

    .projects .project {
        display: block;
    }

    .projects .project .description {
        margin-top: 15px;
    }

    .current-list .book .image,
    .current-list .game .image,
    .current-list .watching .image {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: none;
    }

    header {
        border-bottom-color: $dark-mode-blue-medium;
    }

    header nav a:hover {
        color: $blue-dark;
        color: $dark-mode-blue-dark;
    }

    footer {
        border-top-color: $dark-mode-blue-medium;
    }

    footer button {
        color: $dark-mode-blue-medium;
    }

    footer button:hover,
    footer button:focus {
        color: $dark-mode-blue-dark;
    }

    footer .mode-switcher .content {
        background: #434343;
    }

    footer .mode-switcher .arrow {
        border-top-color: #434343;
    }

    footer .mode-switcher ul li.active button {
        color: #eee;
        background: $dark-mode-blue-medium;
    }

    footer .mode-switcher ul li.active button:hover,
    footer .mode-switcher ul li.active button:focus,
    footer .mode-switcher ul li button:hover,
    footer .mode-switcher ul li button:focus {
        color: #eee;
        background: $dark-mode-blue-medium;
    }

    article h1 {
        color: $dark-mode-blue-medium;
    }

    article.post-page h2 {
        color: $dark-mode-blue-medium;
    }

    .current-list .book .info h3,
    .current-list .game .info h3,
    .current-list .watching .info h3 {
        color: $dark-mode-blue-medium;
    }

    .current-list .book .review button {
        color: $dark-mode-blue-medium;
    }

    .current-list .book .review button:hover {
        color: $dark-mode-blue-dark;
    }
}
