body {
    background: url('/assets/images/background.png') repeat;
}

main {
    padding: 0 150px;
}

header {
    border-bottom: 2px solid $blue-primary;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    margin-bottom: 50px;
}

header img.logo {
    width: 40px;
    height: 40px;
}

header span.title {
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0 25px 0 10px;
    color: $blue-primary;
    letter-spacing: 0.08rem;
}

header nav {
    display: inline;
}

header nav a {
    padding: 0 12px;
    font-size: 1.2rem;
    color: $blue-medium;
}

header nav a:hover {
    color: $blue-primary;
}

article {
    margin: 25px 0;
}

article h2 {
    font-weight: bold;
    font-size: 1.75rem;
    margin: 0;
    padding: 0;
}

article .meta {
    font-style: italic;
    font-size: 0.9rem;
    color: $grey-text;
    margin: 5px 0 0 0;
}

article .content {
    margin-top: 12px;
}

article .read-more {
    text-align: center;
    margin-top: 12px;
    font-size: 1rem;
}

article hr {
    width: 250px;
    margin: 40px auto;
    border-bottom: 1px solid hsl(0, 0%, 87.1%);
}
