body,
body.light-mode {
    background-image: url('/assets/images/background.png');
    background-repeat: repeat;
}

body.dark-mode {
    background-image: none;
}

main {
    width: 1200px;
    margin: 0 auto;
}

main.gallery {
    width: auto;
    margin: auto;
    padding: 0 150px;
}

header {
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    width: 1200px;
    margin: 0 auto 50px auto;
}

header div.site-title {
    display: inline-block;
}

header div.site-title img.logo {
    width: 40px;
    height: 40px;
    padding: 10px 0;
}

header div.site-title span.title {
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0 25px 0 10px;
    color: $blue-medium;
    letter-spacing: 0.08rem;
}

header nav {
    display: block;
    float: right;
}

header nav a {
    padding: 0 12px;
    font-size: 1.2rem;
    color: $blue-medium;
}

header nav a:hover {
    color: $blue-dark;
}

footer {
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    margin-top: 50px;
    text-align: center;
}

footer,
body.light-mode footer {
    border-top: 1px solid $blue-dark;
}

body.dark-mode footer {
    border-top-color: $dark-mode-blue-medium;
}

footer .content {
    width: 1200px;
    margin: 0 auto;
}

footer .copyright {
    font-size: 1rem;
    font-style: italic;
    color: $dark-grey;
    float: left;
}

footer ul {
    margin: 0;
}

footer ul.navigation {
    float: right;
    text-align: right;
}

footer ul li {
    display: inline;
    list-style-type: none;
    padding: 0 15px;
}

footer button,
body.light-mode footer button {
    background: transparent;
    background-image: url('../assets/images/toggle-lightmode.png');
    cursor: pointer;
    width: 30px;
    height: 16px;
    border: none;
    vertical-align: middle;
}

body.dark-mode footer button {
    background-image: url('../assets/images/toggle-darkmode.png');
}

article {
    margin: 25px 0;
    font-size: 1.25rem;
}

article .cover-image {
    height: 350px;
    width: 100%;
    overflow: hidden;
    background-size: 100%;
    margin-bottom: 25px;
}

article.index .cover-image {
    display: none;
}

article h1,
body.light-mode article h1 {
    font-weight: bold;
    color: $blue-medium;
    font-size: 2.1rem;
    margin: 0;
    padding: 0;
}

body.dark-mode article h1 {
    color: $dark-mode-blue-medium;
}

article h2 {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}

article.post-page h2,
body.light-mode article.post-page h2 {
    font-size: 1.6rem;
    margin: 24px 0 15px 0;
    color: $blue-medium;
}

body.dark-mode article.post-page h2 {
    color: $dark-mode-blue-medium;
}

article h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 22px 0 18px 0;
}

article h4 {
    font-size: 1.3rem;
    margin: 12px 0;
}

article .meta {
    font-style: italic;
    font-size: 1.05rem;
    margin: 5px 0 0 0;
}

article.post-page .meta {
    margin-bottom: 25px;
}

article .content {
    margin-top: 12px;
}

article .read-more {
    text-align: center;
    margin-top: 12px;
    font-size: 1rem;
}

article .centered-image {
    text-align: center;
    margin: 30px 0;
}

article .centered-image img {
    max-width: 80%;
}

article .centered-image img.shadowed {
    box-shadow: 0 12px 24px 0 hsla(0, 0%, 0%, 0.2);
}

article .centered-image .credit {
    margin: 10px 0;
    color: hsl(0, 0%, 60%);
}

article ul,
article ol {
    margin: 0 70px 40px 70px;
}

article ul li,
article ol li {
    padding-left: 12px;
}

article hr {
    width: 250px;
    margin: 40px auto;
    border-bottom: 1px solid hsl(0, 0%, 87.1%);
    background-color: transparent;
}

#about-page {
    min-height: 420px;
}

.about-image {
    float: left;
    margin-right: 50px;
}

.projects .project {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    margin: 40px 0;
    padding: 40px 0;
    border-bottom: 1px solid $dark-grey;
}

.projects .project:last-child {
    border-bottom: none;
}

.projects .project .screen {
    grid-column-start: 1;
    grid-column-end: 1;
}

.projects .project .description {
    grid-column-start: 2;
    grid-column-end: 2;
}

.projects .project .description h2 {
    margin-top: 0;
}

.pagination {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 20px 0;
}

.pagination .previous {
    grid-column-start: 1;
    grid-column-end: 1;
}

.pagination .next {
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: right;
}

main.current h1 {
    color: #0052cc;
    font-weight: bold;
}

body.dark-mode main.current h1 {
    color: #029fe8;
}

.current-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 25px;
    margin: 12px 0 50px;
    justify-items: center;
}

.current-list .book,
.current-list .game,
.current-list .watching,
.current-list .book .image,
.current-list .game .image,
.current-list .watching .image {
    text-align: center;
    margin-bottom: 20px;
}

.current-list .book .image img,
.current-list .game .image img,
.current-list .watching .image img {
    max-height: 300px;
    box-shadow: 0 12px 24px 0 hsla(0, 0%, 0%, 0.2);
}

.current-list .book .info h3,
.current-list .game .info h3,
.current-list .watching .info h3,
body.light-mode .current-list .book .info h3,
body.light-mode .current-list .game .info h3,
body.light-mode .current-list .watching .info h3 {
    font-size: 1.33rem;
    margin: 8px 0;
    color: $blue-medium;
    text-align: center;
}

body.dark-mode .current-list .book .info h3,
body.dark-mode .current-list .game .info h3,
body.dark-mode .current-list .watching .info h3 {
    color: $dark-mode-blue-medium;
}

.current-list .book .info h3 span,
.current-list .game .info h3 span,
.current-list .watching .info h3 span {
    white-space: nowrap;
}

.current-list .book .info em {
    font-size: 1.05rem;
    margin: 8px 0 0 0;
}

.current-list .book .rating img {
    padding: 0 4px;
    margin: 12px 0;
}

.current-list .book .review {
    font-size: 1.05rem;
}

.current-list .book .review button,
body.light-mode .current-list .book .review button {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
    color: $blue-medium;
}

.current-list .book .review button:hover,
body.light-mode .current-list .book .review button:hover {
    color: $blue-dark;
}

body.dark-mode .current-list .book .review button {
    color: $dark-mode-blue-medium;
}

body.dark-mode .current-list .book .review button:hover {
    color: $dark-mode-blue-dark;
}

.current-list .book .review div {
    line-height: 1.5;
    margin: 10px 0;
}

ul.about-contact-list {
    text-align: center;
}

ul.about-contact-list li {
    padding: 0 20px;
    margin: 15px 0;
    display: inline-block;
    white-space: nowrap;
}

ul.about-contact-list li img {
    width: 32px;
}

ul.contact-list {
    width: 300px;
    margin: 20px auto;
}

ul.contact-list li {
    list-style-type: none;
    margin: 16px 0;
    line-height: 24px;
}

ul.contact-list li img {
    width: 24px;
    height: 24px;
    padding-right: 10px;
}

.centered {
    text-align: center;
}
.error {
    color: #ff0000;
}

@media all and (max-width: 1280px) {
    main {
        margin: 0 auto;
        width: 960px;
        padding: 0;
    }

    header {
        width: 960px;
        margin: 0 auto 40px auto;
        padding: 0;
    }

    main .main-content {
        padding: 0 15px;
    }

    footer {
        padding: 0;
    }

    footer .content {
        width: 960px;
    }
}

@media all and (max-width: 1024px) {
    .about-image {
        margin: 0 40px 0 0;
    }

    .about-image img {
        width: 300px;
    }
}

@media all and (max-width: 1023px) {
    main {
        width: 100%;
    }

    header {
        width: 100%;
    }

    header div.site-title {
        padding-left: 10px;
    }

    header nav {
        padding-right: 10px;
    }

    footer .content {
        width: 100%;
    }
}

@media all and (max-width: 800px) {
    header {
        line-height: 1;
        padding: 10px 0;
        height: auto;
        text-align: center;
        margin-bottom: 0;
    }

    header div.site-title {
        float: none;
        padding: 0;
    }

    header img.logo {
        display: none;
    }

    header div.site-title span.title {
        padding: 0;
    }

    header nav {
        display: block;
        float: none;
        padding: 0;
        margin: 25px 0 15px 0;
    }

    header nav a {
        font-size: 1rem;
        padding: 0 8px;
    }

    footer {
        height: auto;
        line-height: 1;
        text-align: center;
        padding: 0;
    }

    footer .content {
        padding: 10px;
        width: auto;
    }

    footer .content .copyright {
        float: none;
    }

    footer .content ul.navigation {
        float: none;
        text-align: center;
        height: auto;
        margin: 15px 0;
    }

    footer .content ul.navigation li {
        float: none;
        line-height: 2;
    }

    main.current h1 {
        font-size: 1.5rem;
    }

    article h1 {
        font-size: 1.8rem;
    }

    article h2 {
        font-size: 1.5rem;
    }

    article .meta {
        font-size: 1rem;
    }

    article.post-page h2 {
        font-size: 1.4rem;
    }

    article h3 {
        font-size: 1.3rem;
    }

    article h4 {
        font-size: 1.2rem;
    }

    article {
        font-size: 1.05rem;
    }

    article .centered-image img {
        width: 100%;
    }

    .projects .project {
        display: block;
    }

    .projects .project .description {
        margin-top: 15px;
    }

    .projects .project .description h2.shrink {
        font-size: 1.25rem;
    }

    ul.uses {
        margin: 0 15px 25px 15px;
    }

    ul.about-contact-list {
        margin: 0 10px 40px 10px;
    }

    ul.about-contact-list li {
        padding: 0;
        margin: 20px 0;
        display: block;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: none;
    }

    header {
        border-bottom-color: $dark-mode-blue-medium;
    }

    header nav a:hover {
        color: $blue-dark;
        color: $dark-mode-blue-dark;
    }

    footer {
        border-top-color: $dark-mode-blue-medium;
    }

    footer button {
        color: $dark-mode-blue-medium;
    }

    footer button:hover,
    footer button:focus {
        color: $dark-mode-blue-dark;
    }

    footer .mode-switcher .content {
        background: #434343;
    }

    footer .mode-switcher .arrow {
        border-top-color: #434343;
    }

    footer .mode-switcher ul li.active button {
        color: #eee;
        background: $dark-mode-blue-medium;
    }

    footer .mode-switcher ul li.active button:hover,
    footer .mode-switcher ul li.active button:focus,
    footer .mode-switcher ul li button:hover,
    footer .mode-switcher ul li button:focus {
        color: #eee;
        background: $dark-mode-blue-medium;
    }

    article h1 {
        color: $dark-mode-blue-medium;
    }

    article.post-page h2 {
        color: $dark-mode-blue-medium;
    }

    .current-list .book .info h3,
    .current-list .game .info h3,
    .current-list .watching .info h3 {
        color: $dark-mode-blue-medium;
    }

    .current-list .book .review button {
        color: $dark-mode-blue-medium;
    }

    .current-list .book .review button:hover {
        color: $dark-mode-blue-dark;
    }
}
