@media all and (max-width: 1920px) {
    /* --------------------- */
    /* ---- PHOTOGRAPHY ---- */
    /* --------------------- */

    ul.album-list li {
        width:360px;
        height:260px;
        margin:11px;
    }
}