@media all and (max-width: 1280px) {
    #main .content {
        padding:0 150px;
    }

    /* --------------------- */
    /* ---- PHOTOGRAPHY ---- */
    /* --------------------- */

    ul.album-list li {
        width:290px;
        height:200px;
        margin:11px;
    }
}