@media all and (max-width: 414px) {
    /* ----------------- */
    /* ---- SIDEBAR ---- */
    /* ----------------- */

    #sidebar .logo-area {
        width:320px;
        margin:0 auto 25px auto;
    }

    #sidebar .logo {
        margin:0;
        float:left;
        width:80px;
    }

    #sidebar .logo img {
        width:64px;
    }

    #sidebar .title-text {
        font-size:30px;
        color:$sidebar-blue;
        margin-bottom:0;
        margin-left:15px;
        float:left;
        text-align:right;
    }

    #sidebar ul.menu li {
        margin-bottom:20px;
    }

    /* --------------------- */
    /* ---- PHOTOGRAPHY ---- */
    /* --------------------- */

    .photography .most-recent {
        width:100%;
        margin:0;
    }

    .photography .most-recent .image {
        width:100%;
        height:200px;
    }

    ul.album-list li {
        width:100%;
        height:200px;
        margin:12px 0;
    }

    .photo.padded,
    .photo.padded-top,
    .photo.padded-bottom,
    .photo.double .left,
    .photo.triple .left,
    .photo.triple .center { 
        padding:0 0 15px 0;
    }

    .photo.double .left,
    .photo.double .right,
    .photo.triple .left,
    .photo.triple .center,
    .photo.triple .right {
        float: none;
        width: 100%;
    }
}