---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Our variables
$base-font-family: Helvetica, 'Helvetica Neue', Arial, serif;
$base-line-height: 1;
$heading-font-family: Helvetica, 'Helvetica Neue', Arial, serif;

$spacing-unit: 30px;

$text-color: #444444;
$grey-text: hsl(0, 0%, 51.4%);

$background-color: #ededed;
$light-background-color: #fefefe;
$brand-color: #1a75ff;
$brand-color-darker: #0052cc;
$dark-gray-color: #7b7b7b;
$sidebar-blue: lighten($brand-color, 18%);

$grey-color: #cccccc;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

$blue-primary: hsl(224.5, 90.7%, 21%);
$blue-medium: hsl(215.9, 100%, 40%);

$grey-text: hsl(0, 0%, 51.4%);

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import 'base', 'layout', '_syntax-highlighting';
