<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <script type="text/javascript" src="/assets/scripts/post.js"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  </head>

  <body>
    {% include sidebar.html %}

    <div id="main">
      {% if page.cover != nil %}
      <div
        class="post-cover"
        style="background-image:url('{{ page.cover }}'); background-position:{{ page.bgposition }}"
      ></div>
      {% endif %}

      <div class="content">
        <div class="post">
          <h1 class="post-title">{{ page.title }}</h1>

          <div class="post-meta">Posted {{ page.date | date: '%B %-d, %Y' }}</div>

          <div class="text">{{ content }}</div>
        </div>
      </div>
    </div>
  </body>
</html>
