<!DOCTYPE html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>

    <body>
        {% include header.html %}

        <main>
            <div class="main-content">
                <article class="post-page">
                    <h1>{{ page.title }}</h1>
                    <div class="meta">Posted {{ page.date | date: '%B %-d, %Y %-I:%M %P' }}</div>
                    <div class="content">{{ content }}</div>
                </article>
            </div>
        </main>

        {% include footer.html %}
    </body>
</html>
