<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="container">
      {% include header.html %}
    </div>

    <div class="photography-header home"></div>
     
    <div class="container"> 
      {% include category-bar.html %}
    </div>

    <div class="container">
      {{ content }}
    </div>

    <div class="clearfix"></div>

    <div class="container">
      {% include footer.html %}
    </div>
      
    {% include google-analytics.html %}
  </body>
</html>
