<!DOCTYPE html>
<html>

    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/scripts/lightGallery/css/lightgallery.min.css" />
        <script type="text/javascript" src="/assets/scripts/lightGallery/js/lightgallery-all.min.js"></script>
        <script type="text/javascript" src="/assets/scripts/photoset.js"></script>
    </head>

    <body>

        <div class="container">
            {% include header.html %}
        </div>

        <div class="container">
            <div id="photoset">
                {{ content }}
            </div>

            {% include footer.html %}
        </div>
    </body>

</html>
