<!DOCTYPE html>
<html>

    <head>
        {% include head.html %}
        <link rel="stylesheet" href="/assets/scripts/lightGallery/css/lightgallery.min.css" />
        <script type="text/javascript" src="/assets/scripts/lightGallery/js/lightgallery-all.min.js"></script>
        <script type="text/javascript" src="/assets/scripts/photoset.js"></script>
    </head>

    <body>
        {% include sidebar.html %}
      
        <div id="main">
          <div class="content">
            <div class="back-link"><a href="/photography">&lt; Back to Photo Sets</a></div>
            <div id="photoset">{{ content }}</div>
            <div class="back-link bottom"><a href="/photography">&lt; Back to Photo Sets</a></div>
          </div>
        </div>
    </body>

</html>
