---
layout: default
---

<div class="home">
    {% if page.header == "single" %}
        <div class="image-header">
            <div class="single">
                <img src="{{page.image1}}" alt="" />
            </div>
        </div>
    {% endif %}

    {% if page.header == "double" %}
        <div class="image-header">
            <div class="double">
                <img src="{{page.image1}}" alt="" class="left" />
                <img src="{{page.image2}}" alt="" class="right" />
                <div class="clearfix"></div>
            </div>
        </div>
    {% endif %}

    {% if page.header == "triple" %}
        <div class="image-header">
            <div class="triple">
                <img src="{{page.image1}}" alt="" class="left" />
                <img src="{{page.image2}}" alt="" class="center" />
                <img src="{{page.image3}}" alt="" class="right" />
                <div class="clearfix"></div>
            </div>
        </div>
    {% endif %}

    <div class="post">
        <div class="content">
            <h1 class="post-title">{{ page.title }}</h1>

            <div class="post-meta">Posted {{ page.date | date: "%B %-d, %Y" }} in <a href="/category/{{ page.category }}">{{ page.category | capitalize }}</a></div>

            <div class="text">{{ content }}</div>

            <div class="share-post">
                Share: 
                <a id="share-twitter" data-title="{{ page.title }}" title="Share on Twitter"><img src="/assets/images/share-twitter.png" alt="Share on Twitter" /></a>
                <a id="share-facebook" data-title="{{ page.title }}" title="Share on Facebook"><img src="/assets/images/share-facebook.png" alt="Share on Facebook" /></a>
                <a id="share-google" title="Share on Google +"><img src="/assets/images/share-google.png" alt="Share on Google +" /></a>
                <a href="http://www.reddit.com/submit?url=http://kpwags.com{{ page.url }}&amp;title={{ page.title }}" target="_blank" title="Submit to Reddit"><img src="/assets/images/share-reddit.png" alt="Share on Reddit" /></a>
            </div>
        </div>
    </div>
</div>
